.dflex {
  display: flex;
}
.redBoxSh {
  box-shadow: 0 0 5px 1px #ff00008c;
}
.wrapWrap {
  flex-wrap: wrap;
}
.dIgrid {
  display: inline-grid;
}
.dGrid {
  display: grid;
}
input {
  outline: none;
}
body {
  background-color: #7e8f9a;
}
h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3.5rem;
}
#wrapper {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #657580;
}
#calculations {
  width: calc(100% - 5.4rem);
  margin: 3.5rem auto 0 auto;
  grid-template-columns: 48% 27.5% 25%;
  grid-gap: 0 1rem;
}
button {
  font-size: 1.4rem;
}
.fields span {
  margin-bottom: 0.5rem;
  font-size: 1.44rem;
  white-space: nowrap;
}
.fields input {
  border-radius: 5px;
  outline: none;
  border: 0;
  width: 100%;
  max-width: 29.5rem;
}
.fields button,
.fields input {
  line-height: 3;
}
.fields button {
  margin: 2.2rem 0 0 1.7rem;
  padding: 0 2.4rem;
  border-radius: 5px;
  border: 0;
  letter-spacing: 1px;
  font-weight: 100;
  background-color: #4b8569;
  cursor: pointer;
}
.fields button:hover {
  box-shadow: 0 0 15px 1px #15151569;
}
#result {
  grid-column: 3;
  font-size: 2.2rem;
  margin-top: 2.5rem;
  white-space: nowrap;
}
#refData img {
  height: 30px;
  padding: 5px;
  margin: 0 0 0 auto;
  cursor: pointer;
}
#refData img:nth-child(6) {
  margin: 0 auto 0 0;
}
#refData img:hover {
  box-shadow: 0 0 15px 1px #15151569;
  border-radius: 5px;
}
.wrapForEdit {
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background-color: grey;
}
.wrapForEdit button {
  min-width: 90px;
}
.item {
  grid-template-columns: 1fr 8fr 4fr 3fr 1fr 1fr;
  width: 100%;
  position: relative;
}
.item span {
  font-size: 2.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1100px) {
  #calculations {
    width: 100%;
  }
}
